body{
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    align-content: center;
    top: -40px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.ques{
    background: rgb(102, 49, 49);
    color: white;
    padding: 40px;
    padding-bottom: 80px;
    width: 270px;
    text-align: center;
    left: 500px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 10px 10px 10px gray;
    border: 2px solid black;
}
button{
    border-radius: 20px;
    padding: 8px;
    border: 1px solid black;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    text-decoration: underline 2px solid rgb(102, 49, 49);
    font-size: 12px;
}
input{
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#result{
    background-color: rgb(109, 151, 189);
    color: white;
    width: 300px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 10px 10px 10px gray;
}