body{
    background: black;
    color: white;
    text-align: center;
    align-content: center;
    height: 100vh;
    margin: 0;
}
div{
    background-color: rgb(66,79,97);
    padding: 20px;
    display: inline-block;
    width: 200px;
    border-radius: 25px;
    box-shadow: 10px 0px 10px 1px rgb(58, 55, 55);
}
button{
    margin: 2px 0px;
    font-family: verdana;
    font-size: 20px;
    padding: 3px 10px;
    background-color: rgb(120,149,168);
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(120,149,168);
    font-weight: bold;
}
input{
    background: rgb(152,175,188);
    border-radius: 5px;
    padding: 15px 5px;
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
    width: 190px;
}
